header {
    --header-space-between: 0;
    --header-item-padding: 1rem;
    background-color: var(--primary-color);

    & .header-container{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 64.5rem;
    }

    & .menu {
        list-style: none;
        gap: var(--header-space-between);

        & .list-item {
            display: none;
        } 
    }

    & nav span {
        display: none;
        font-size: var(--font-size-default);
        padding-left: 10px;
        font-family: var(--font-family-secondary);
    }

    & .menu-button {
        padding: 1rem;

        & svg {
            font-size: var(--font-size-large);
            color: var(--tertiary-text-color);
        }
    }

    & .logo-item{
        display: flex;
        align-items: center;
        position: relative;
    }

    & .logo {
        max-height: 30px;
        padding: 0 10px;
    }

    & .list-item a, & button, & nav a {
        color: var(--tertiary-text-color);
        padding: var(--header-item-padding);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family-secondary);
    }

    & .list-item a:hover, & nav a:hover  {
        background-color: var(--bg-button-hover)
    }

}


