.btn {
    background-color: transparent;
    border-radius: var(--default-border-radius);
    color: var(--tertiary-text-color);
    padding: .8rem 0.5rem;
    text-decoration: none;
    text-align: center;
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-default);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 127px;
}

.btn svg {
    margin-left: 5px;
}


/* Colors of the buttons */

.btn.btn-primary  {
    background-color: var(--bg-button);
}

.btn.btn-primary:hover  {
    background-color: var(--bg-button-hover);
}

.btn.btn-secondary  {
    color: var(--primary-text-color);
    background-color: var(--bg-button-secondary);
}

.btn.btn-secondary:hover  {
    background-color: var(--bg-button-secondary-hover);
}

select.btn
/* remove the arrow */
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}
